<h1>Adicionar Livro</h1>
<form action="" method="post" class="form">
    <div class="form-control">
        <label for="name">Título:</label>
        <input type="text" name="titulo" placeholder="Digite o Título do livro...">
    </div>
    <div class="form-control">
        <label for="autor">Autor:</label>
        <input type="text" name="autor" placeholder="Digite o autor do livro...">
    </div>
    <div class="form-control">
        <label for="preco">Preco:</label>
        <input type="text" name="preco" placeholder="Digite o preço do livro...">
    </div>
    <div class="form-control form-checkbox">
        <input type="checkbox" name="capa_dura" checked>
        <label for="capa_dura">Capa dura?</label>
    </div>
    
    <div class="form-control">
        <input type="submit" value="Adicionar livro">
    </div>
</form>