<div class="container-user">
    <div class="box-user">
        <img class="icon" src="/ORM_SEQUELIZE/atv1/public/assets/icon.png" alt="">
        <h1>{{livro.titulo}}</h1>
        <p>{{livro.autor}}</p>
        <p>Preço: R${{livro.preco}}</p>
        <p>É capa dura?{{livro.capa_dura}}</p>
        <a href="/homelivro">Voltar</a>
    </div>
</div>