<div class="container-user">
    <div class="box-user">
        <img class="icon" src="/ORM_SEQUELIZE/atv1/public/assets/icon.png" alt="">
        <h1>{{user.name}}</h1>
        <p>{{user.occupation}}</p>
        <a href="/">Voltar</a>
    </div>
</div>

