<h2>{{this.title}}</h2>
<p>Categoria: {{this.category}}</p>
<a href="#">Veja Mais</a>


{{!-- const obj = {
    {
        chave: valor
    },
    {
        chave: valor
    },
    {
        chave: valor
    }
} --}}
