<h1>Cadastre seu Curso</h1>
<form action="/curse/inserircurso" method="post" class="form">
    <div class="form-control">
        <label for="nome_curso">Título:</label>
        <input type="text" name="nome_curso">    
    </div>
    <div class="form-control">
        <label for="descricao">Descrição do Curso</label>
        <input type="text" name="descricao" placeholder="">    
    </div>
    <div class="btn">
        <input type="submit" value="Cadastrar">
    </div>
</form>
    