<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Main</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav id="navbar">
        <ul>
            <li>
                <a href="/users/create">Cadastrar Usuários</a>
                <a href="/">Listar Usuários</a>
            </li>
        </ul>
        <ul class="ul-livros">
            <li class="li-livros">
                <a href="/livros/create">Cadastrar Livros</a>
                <a href="/homelivro">Listar Livros</a>
            </li>
        </ul>
    </nav>
    {{{body}}}
</body>
</html>